
/*job apply page*/
.job-apply{
    .typing-body{
        .operator,.caller{
            border: solid 1px #e0e0df;
            padding: 20px 20px;
            border-radius: 5px;
            -webkit-box-shadow: 5px 5px 15px 2px rgba(0,0,0,.1);
            -moz-box-shadow: 5px 5px 15px 2px rgba(0,0,0,.1);
            -ie-shadow: 5px 5px 15px 2px rgba(0,0,0,.1);
            box-shadow: 5px 5px 15px 2px rgba(0,0,0,.1);
            margin-bottom: 40px;
            position:relative;
            border-top-left-radius: 0;
            
            .flag{
                position: absolute;
                left: -1px;
                top: -27px;
                padding: 3px 10px 0px 10px;
                background: #fff;
                border: solid 1px #e0e0df;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                border-bottom: solid 1px #fff;
                border-top-color: inherit;
                border-left-color: inherit;
                border-right-color: inherit;
            }
            
            &.active{
                -webkit-box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.3);
                -moz-box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.3);
                -ie-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.3);
                box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.3);
                border-color: rgba(0,123,255,.25);
                
                .flag{
                    border-top: solid 3px #40999f;
                    color: #40999f;
                }
            }
            
            &.completed{
                border-color: green;
            }
        }
        
    }
}